<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/2_5/plugin.xsd">
    <name>appsnapplugin</name>
    <description>Grab Appnsap.
    </description>
    <author>Israel Ogbole</author>
    <version>1.0.0</version>
    <minServerVersion>5.0.3.0</minServerVersion>
    <maxServerVersion>6.0.4.0</maxServerVersion>

    <databaseKey>database-query</databaseKey>
    <databaseVersion>1050302</databaseVersion>

    <!-- you will want to change your class name here! -->
    <class>com.jivesoftware.appsnapplugin.AppsnapPlugin</class>

    <!--
     <authorURL>
     <pluginURL>
     <databaseKey>
     <databaseVersion>
     <components>
     <css>
     <soy>
     <javascript>
     <widget>
     <macro>
     <urlmapping>
     <sitemesh>
     -->

    <components>
        <component id="admin-console">

            <tab id="system">

                <section id="section-appsnap" name="admin.decorator.menu.system.appsnap.main"
                         role="Manage System, Manage Community, Manage Users"
                         description="admin.decorator.menu.system.appsnap.main.desc">
                    <item id="viewappsnap-Page" name="admin.decorator.menu.system.appsnap.view"
                          url="appsnap-view-previous.jspa"
                          description="admin.decorator.menu.system.appsnap.view.desc"/>
                    <item id="grabjvmappsnap-Page" name="admin.decorator.menu.system.appsnap.sub.menu"
                          url="appsnap-grab-form.jspa"
                          description="admin.decorator.menu.system.appsnap.sub.menu.desc"/>
                </section>

               </tab>
        </component>
    </components>

</plugin>
